<template name="projectEdit">
  <div class="col-lg-6">
    <form>
      <div class="form-group">
        <label>Title</label>
        <div>
          <input name="title" id="title" type="text" placeholder="What is the title of your project?" class="form-control" value=" {{title}} " />
        </div>
        <label>Description</label>
        <div>
          <input name="description" id="description" type="textarea" placeholder="Describe your project" class="form-control" value=" {{description}} " />
        </div>
      </div>

      <input type="submit" value="Submit" class="btn btn-primary btn-sm">
    </form>    
  </div>
</template>