<template name="featureItem">
   
<div class="panel panel-default">

  <div class="panel-heading clearfix">
    <h3 class="panel-title">
      {{title}}
      <div class="btn-group feature-edit-btns pull-right">
        <a href="#" class="btn btn-default btn-xs glyphicon glyphicon-plus"></a>
        <a href="#" class="btn btn-default btn-xs glyphicon glyphicon-pencil"></a>
        <a href="#" class="btn btn-default btn-xs glyphicon glyphicon-remove" ></a> 
      </div>
    </h3>
  </div>

  <div class="panel-body">
    <strong>Description: </strong>
    <p> {{description}} </p>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>
          {{#if userStories}}
            User Stories:
            {{#if initiated}}
              <div class="btn-group story-new-btns pull-right">
                <a href="#" class="btn btn-default btn-xs glyphicon glyphicon-ok" ></a> 
              </div>
            {{/if}}
          {{else}}
            <em>Add some User Stories</em>
          {{/if}}
        </th>
      </tr>        
    </thead>
    <tbody>
      {{#each userStories}}
        {{> storyItem}}
      {{/each}}

      {{#if initiated}}
        {{> storySubmit}}
      {{/if}}
    </tbody>
  </table>
</div>
  
</template>