<template name="featureSubmit">

<h4>Add a new feature:</h4>
<div class="panel panel-default">

  <div class="panel-heading clearfix">
    <h3 class="panel-title">
      <input name="title" id="title" type="text" value="" placeholder="What is the title of your feature?" class="form-control" />       
    </h3>
  </div>

  <div class="panel-body">
    <strong>Description: </strong>
    <input name="description" id="description" type="textarea" value="" placeholder="Describe your feature" class="form-control" />
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>
          <a href="#" class="btn btn-default btn-xs glyphicon glyphicon-floppy-disk pull-right"></a>
        </th>
      </tr>        
    </thead>
  </table>
</div>

</template>